<section class="new-user">
  <h1>User wurde angelegt</h1>
  <ul>
    <li>Vorname: {{vorname}}</li>
    <li>Nachname: {{nachname}}</li>
    <li>Wohnort: {{wohnort}}</li>
    <li>Beruf: {{beruf}}</li>
    <li>E-Mail: {{email}}</li>
  </ul>
</section>